<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1745910549408</Id>
		<Name><![CDATA[event]]></Name>
		<X>180</X>
		<Y>160</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="occuresOnce">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1745913600000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[0]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
	</Event>
</Events>
